# Grunt
Gruntfile.js
/node_modules/
/backups/

# Composer
/vendor/

# Vagrant
.vagrant
/html/
/adminer/

#Yeopress
.yeopress

# Wordpress
.htaccess
local-config.php
/content/uploads/
/content/plugins/
/content/blogs.dir/
/content/upgrade/
/content/backup-db/
/content/advanced-cache.php
/content/wp-cache-config.php
/content/w3tc/
/content/cache/
/content/backups/

# Sitemaps
sitemap.xml
sitemap.xml.gz

# Misc
*.log
.DS_Store